<div>
  <div class="grid-container">
    <div class="task-add">
      <h1>TO DO APP</h1>
      <input [(ngModel)]="task" (keyup.enter)="addDoList()">
      <button class="button add-button" (click)="addDoList()">Add to do</button>
    </div>

    <div class="to-do">
      <h2>To do list: {{toDoList.length}}</h2>
      <ng-container *ngIf="toDoList.length > 0; else noTask">
        <ul *ngFor="let task of toDoList; let i = index">
          <li>
            {{task}}
            <button class="button done-button" (click)="addDoneList(i)">Done</button>
            <button class="button delete-button" (click)="deleteDoList(i)">Delete</button>
          </li>
        </ul>
      </ng-container>
      <ng-template #noTask>
        <p>No tasks</p>
      </ng-template>
    </div>

    <div class="done">
      <h2>Done list: {{doneList.length}}</h2>
      <ng-container *ngIf="doneList.length > 0; else noTask">
        <ul *ngFor="let task of doneList; let i = index">
          <li>
            {{task}}
            <button class="button delete-button" (click)="deleteDoneList(i)">Delete</button>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
