h1 {
  color: black;
  font-size: 50px;
}

h2 {
  color: black;
  font-size: 30px;
}

li {
  font-size: 20px;
}

input {
  background-color: #f6f6f6;
  padding: 5px 10px;
  border-color: grey;
  border-radius: 4px;
}

.button {
  border-color: grey;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.add-button {
  color: black;
  background-color: lightgreen;
}

.add-button:hover {
  color: white;
  background-color: green;
}

.delete-button {
  color: black;
  background-color: tomato;
}

.delete-button:hover {
  color: white;
  background-color: maroon;
}

.done-button {
  color: black;
  background-color: lightskyblue;
}

.done-button:hover {
  color: white;
  background-color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.2fr 0.5fr 1.2fr 0.4fr;
  grid-template-rows: 150px 1fr;
  gap: 1px 1px;
  grid-template-areas: ". task-add task-add task-add ." ". to-do . done .";
}

.task-add {
  grid-area: task-add;
  justify-self: center;
}

.to-do {
  grid-area: to-do;
  justify-self: center;
}

.done {
  grid-area: done;
  justify-self: center;
}
